
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
                required: true %>
    <%= f.input :last_name,
                required: true %>
    <%= f.association :country %>
    <%= f.input :timezone %>
    <%= f.input :photo, as: :file %>
    <%= f.input :map, as: :file %>
    <%= f.input :job,
                required: true %>
    <%= f.input :city,
                required: true %>
    <%= f.input :expected_wage,
                required: true %>
    <%= f.input :area_median_wage,
                required: true %>
    <%= f.input :next_jobs,
                required: true %>
    <%= f.input :status,
                required: true,
                hint: ("active or passive")%>
    <%= f.input :linkedin_profile,
                required: true %>
    <%= f.input :university,
                required: true %>
    <%= f.input :full_remote_only,
                required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create user" %>
  </div>
<% end %>




<style>

.intput p {
  color: black;
}

.center {
  text-align: center;
}

 .form-actions {
  text-align: center;
 }


.choice {
  color: white;
  padding: 10px;
  background-color: #4175FE;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  margin-bottom: 20px;
}

.choice:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

  .login {
    width: 800px;

  }

  body {
    background-color: #090131;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }

