

<div class="head-candidates" style="padding-top: 26px;">
  <h3>Weekly inbox</h3>
  <p><b><%= @req.users.where(:matchings => {:status => "available" }).count %></b><%= + " " + @req.title.downcase%> this week</p>

</div>
<div class="class="affectedDiv>
  <div class="candidate_nav">
    <ul class="nav" id="myTab">
  <li class="nav-item">
    <a class="nav-link <%= ' active' if @match.nil? == false && @match.status == "available" %>" id="pills-contact-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-home" aria-selected="true">New(<%= @req.users.where(:matchings => {:status => "available" }).count %>)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= ' active' if @match.nil? == false && @match.status == "messaged"  %>" id="pills-contact-tab" data-toggle="pill" href="#pills-current" role="tab" aria-controls="pills-profile" aria-selected="false">Started(<%= @req.users.where(:matchings => { :status => "messaged" }).count %>)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= ' active' if @match.nil? == false && @match.status == "archived"  %>" id="pills-contact-tab" data-toggle="pill" href="#pills-archived" role="tab" aria-controls="pills-contact" aria-selected="false">Archived(<%= @req.users.where(:matchings => { :status => "archived" }).count %>)</a>
  </li>
  </ul>
  </div>
</div>
<%= cl_image_tag("Line_6_u4e9nl", width: 320) %>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane <%= 'active' if @match.nil? %> <%= ' show active' if @match.nil? == false && @match.status == "available" %>" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">

      <% if @req.users.where(:matchings => {:status => "available" }).any? %>
          <% @req.users.where(:matchings => {:status => "available" }).each do |user| %>
                <%= link_to req_user_path(@req, user) do %>
                  <% if user == @user %>
                    <div class="info actived">
                      <div class="info" id="user<%= user.id %>">
                    <div class="photo">
                      <%= cl_image_tag user.photo.key, width: 55, height: 55 %>
                    </div>
                    <div class="description">
                    <p id="name"><%= user.first_name + " " + user.last_name %><p>
                    <p id= "job"><%= user.job %></p>
                    <p id="location"><%= user.city %></p>
                    </div>
                  </div>
                </div>
                  <% elsif user != @user  %>
                  <div class="info" id="user<%= user.id %>" >
                    <div class="photo">
                      <%= cl_image_tag user.photo.key, width: 55, height: 55 %>
                    </div>
                    <div class="description">
                    <p id="name"><%= user.first_name + " " + user.last_name %><p>
                    <p id= "job"><%= user.job %></p>
                    <p id="location"><%= user.city %></p>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              <%= cl_image_tag("Line_6_u4e9nl", width: 320) %>
          <% end %>

      <% else %>
        <div class="enough">
          <%= cl_image_tag("Group_77_1_g7oliv", width: 80) %>
          <p><b>No more talent this week <br> Wait for next week ... </b></p>
        </div>

      <% end %>
    </div>
    <div class="tab-pane show <%= ' active' if @match.nil? == false && @match.status == "messaged" %>"  id="pills-current" role="tabpanel" aria-labelledby="pills-pro-tab">

        <% if @req.users.where(:matchings => { :status => "messaged" }).any? %>

                    <% @req.users.where(:matchings => { :status => "messaged" }).each do |user| %>
                <%= link_to req_user_path(@req, user) do %>
                  <% if user == @user %>

                      <div class="info actived">
                        <div class="info">
                          <div class="photo">
                            <%= cl_image_tag user.photo.key, width: 55, height: 55 %>
                          </div>
                          <div class="description">
                            <p id="name"><%= user.first_name + " " + user.last_name %><p>
                            <p id= "job"><%= user.job %></p>
                            <p id="location"><%= user.city %></p>
                          </div>
                        </div>
                      </div>

                  <% elsif user != @user  %>

                    <div class="info" id="power2">
                      <div class="photo">
                        <%= cl_image_tag user.photo.key, width: 55, height: 55 %>
                      </div>
                        <div class="description">
                        <p id="name"><%= user.first_name + " " + user.last_name %><p>
                        <p id= "job"><%= user.job %></p>
                        <p id="location"><%= user.city %></p>
                      </div>
                    </div>

                  <% end %>

                <% end %>
              <%= cl_image_tag("Line_6_u4e9nl", width: 320) %>
          <% end %>
        <% else %>

            <div class="enough">
              <%= cl_image_tag("Group_78_w0jtzf", width: 80) %>
              <p><b>Don't be shy <br> Reach out to your first <%= @req.title.downcase %></b></p>
            </div>
        <% end %>
    </div>
    <div class="tab-pane show <%= ' active' if @match.nil? == false && @match.status == "archived" %>" id="pills-archived" role="tabpanel" aria-labelledby="pills-contact-tab">

      <% if @req.users.where(:matchings => { :status => "archived" }).any? %>
        <% @req.users.where(:matchings => { :status => "archived" }).each do |user| %>
              <%= link_to req_user_path(@req, user) do %>
                  <% if user == @user %>
                    <div class="info actived">
                      <div class="info">
                    <div class="photo">
                      <%= cl_image_tag user.photo.key, width: 55, height: 55 %>
                    </div>
                    <div class="description">
                    <p id="name"><%= user.first_name + " " + user.last_name %><p>
                    <p id= "job"><%= user.job %></p>
                    <p id="location"><%= user.city %></p>
                    </div>
                  </div>
                </div>
                  <% elsif user != @user  %>
                  <div class="info" id="power3">
                    <div class="photo">
                      <%= cl_image_tag user.photo.key, width: 55, height: 55 %>
                    </div>
                    <div class="description">
                    <p id="name"><%= user.first_name + " " + user.last_name %><p>
                    <p id= "job"><%= user.job %></p>
                    <p id="location"><%= user.city %></p>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              <%= cl_image_tag("Line_6_u4e9nl", width: 320) %>
          <% end %>

      <% else %>
         <div class="enough">
           <%= cl_image_tag("Group_79_yyatrr", width: 80) %>
            <p><b>Find all the archived talents <br> here </b></p>
          </div>
      <% end %>
    </div>
    </div>


<style>

  .enough {
    display: flex,
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }

  .active {
    color: black;
  }


</style>













