
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>

<body>
  <section>
    <div class="container">
        <header>
          <div>
            <%= cl_image_tag("Group_31_2_ox46o2", width: 133, height: 31, style: "margin-top: 15px") %>
          </div>
          <div class="sub-tab" id="sub1">
          </div>
          <div class="sub-tab" id="sub2">
            <%= link_to story_path do %>
              <p>Our story</p>
            <% end %>
            <p style="margin-right: 20px"><%= link_to 'Sign in', new_user_session_path %></p>
          </div>
        </header>


      <div class="row-part1">
        <div class="texti">
          <h1 id="title1">Tap <span> unexplored </span> pools <br> of engineering talent.</h1>
          <p style="margin-top: 20px"> Introducing Magellan, engineer sourcing made easy for remote teams.</p>
          <a href="https://calendly.com/eliott-mogenet-freed/30min?month=2021-07" class="choice" id="choice1">Request Access ></a>
        </div>
        <div class="mappi">
          <%= cl_image_tag("Group_29_3_e67ncp", width: 877, height: 516, style: "margin-top: 30px", id: "demo") %>
            <%= cl_image_tag("dev1", width: 133, height: 45, class: "test1", id: "dev") %>
            <%= cl_image_tag("dev3", width: 133, height: 45, class: "test3", id: "dev") %>
            <%= cl_image_tag("dev4", width: 133, height: 45, class: "test4", id: "dev") %>
            <%= cl_image_tag("dev5", width: 139, height: 45, class: "test5", id: "dev") %>
            <%= cl_image_tag("dev6", width: 133, height: 45, class: "test6", id: "dev") %>
        </div>
      </div>
    </div>
  </section>

      <%= cl_image_tag("Group_35_2_1_saozhl", width: 160, height: 92, style: "margin-left: 1200px; margin-top: -370px", id: "sun") %>
<section id="section2">
    <div class="container-sm-12">
      <div class="row-part2" id="part2">
          <div class="texti">
            <h1>Your distributed team starts <span>here.</span></h1>
            <p style="font-size: 15px">Before Magellan, finding the right talent abroad was costly and time-consuming. It involved various cultural barriers <br> and heavy market research.
            We made it simple by automating your talent search in minutes.</p>
          </div>
          <div class="mappi">
          <%= cl_image_tag("Group_38_2_em9svl", width: 600, height: 365, style: "margin-top: 30px; margin-left: 40px; margin-bottom: 100px;", id: "demo") %>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row" id="row-center">
      <div class="col-sm-12 col-lg-5">
        <div class="collapse-title">
          <h1>Built for in-house <br> tech recruiters.</h1>
        </div>
        <div id="accordion">
          <div class="card1">
            <div id="headingOne">
                  <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction1()">Understand new talent market abroad</h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>All the data from pre-selected profiles to make informed hiring decisions.</p>
              </div>
            </div>
            <%= cl_image_tag("Line_127_ewfl3c", width: 305, height: 1) %>
          </div>
          <div class="card1">
            <div id="headingTwo">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="myFunction2()">
                Manage better outreach and branding
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>Leverage data to build custom outreach messages designed for the local context. </p>
              </div>
            </div>
            <%= cl_image_tag("Line_127_ewfl3c", width: 305, height: 1) %>
          </div>
          <div class="card1">
            <div id="headingThree">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="myFunction3()">
                  Track and monitor your funnel metrics
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>Follow your top funnel metric in real-time as a single recruiter or a team to build a better custom strategy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4" style="margin-top: 50px;">
        <div id="first-img" class="active">
           <%= cl_image_tag("Group_30_3_df6zkz", width: 420, height: 423, id: "ig1") %>
        </div>
        <div id="second-img" class="inactive">
          <%= cl_image_tag("Group_37_3_la8l0q", width: 420, height: 401, id: "ig2") %>
        </div>
        <div id="third-img" class="inactive">
          <%= cl_image_tag("Group_36_4_dqkney", width: 446, height: 393, id: "ig3") %>
        </div>
      </div>
    </div>
  </div>

  <section>
  <div class="props">
        <div class="value-pro">
          <h2>⏳ <br> Save time sourcing </h2>
          <p>Save hours browsing profiles on Linkedin. Get only qualified talent for your position every weeks.</p>
        </div>
        <div class="value-pro">
          <h2>🌏 <br> Increase diversity  </h2>
          <p>Target engineers all over the world without lowering the quality of talents. </p>
        </div>
        <div class="value-pro">
          <h2>🎯 <br> Build your strategy</h2>
          <p>Define the places you want to hire from, finally build a strong and data driven talent strategy globally. </p>
        </div>
      </div>
  </section>

  <div class="container">
      <%= cl_image_tag("Group_34_4_1_bblh3t", width: 160, height: 83, id: "sun") %>
      <div class="row" id="row-footer">
      <div class="faq">
        <div class="col-sm-12 col-lg-5">
          <h2 style="margin-bottom: 40px">Why <br> Magellan ?</h2>
          <p style="text-align: justify;">The world has changed.<br>
As a recruiter, you can now source in new talent markets and multiple timezones. Your candidate pipeline is growing. You will be able to go beyond your local saturated market.
<br> <br> But where do you start ? How do you map talent abroad?
<br> <br> Magellan is a Saas tool to help you hit your hiring goals faster with endless global options. We equip in-house teams with the local context they need to make qualify and offer competitive compensation to close top talent. Skip the market research and benchmarking. Source International talent with confidence. </p>
        <%= cl_image_tag("Line_127_ewfl3c", width: 305, height: 1) %>
        </div>
      <div class="col-sm-12 col-lg-6" id="sun">
        <h2 style="margin-bottom: 70px">FAQ</h2>
        <div id="accordion">
          <div class="card1">
            <div id="headingOne">
                  <h6 class="mb-0" data-toggle="collapse" data-target="#collapseFoor" data-target="#collapseFoor" aria-expanded="true" aria-controls="collapseFoor" onclick="myFunction1()">What is the difference between Magellan and an agency? </h6>
            </div>
            <div id="collapseFoor" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>All the data from pre-selected profiles to make informed hiring decisions.</p>
              </div>
            </div>
            <%= cl_image_tag("Line_127_ewfl3c", width: 305, height: 1) %>
          </div>
          <div class="card1">
            <div id="headingTwo">
              <h6 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick="myFunction2()">
                Where do the Magellan's data come from ?
              </h6>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>Leverage data to build custom outreach messages designed for the local context. </p>
              </div>
            </div>
            <%= cl_image_tag("Line_127_ewfl3c", width: 305, height: 1) %>
          </div>
          <div class="card1">
            <div id="headingThree">
              <h6 class="mb-0" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick="myFunction3()">
                 Do you manage global payrol and benefits ?
              </h6>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>Follow your top funnel metric in real-time as a single recruiter or a team to build a better custom strategy.</p>
              </div>
            </div>
          </div>
          <%= cl_image_tag("Line_127_ewfl3c", width: 305, height: 1) %>
          <div class="card1">
            <div id="headingThree">
              <h6 class="mb-0" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSix" onclick="myFunction3()">
                 Are you available anywhere in the world?
              </h6>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>Follow your top funnel metric in real-time as a single recruiter or a team to build a better custom strategy.</p>
              </div>
            </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <section class="end">
  </section>


</body>

<style>

span {
  color: #4175FE;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sub-tab {
  display: flex;
  justify-content: center;
}

#sub1 p{
  color: grey;
}

#title1 {
  font-size: 60px;
}

#choice1 {
  margin-top: 12px;
  font-size: 15px;
}

#row-center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

body {
  background-color: white;
  height: 100%;
}

p {
  font-size: 14px;
}

h5 {
   color: #090131;
  font-weight: 700;
}

h2 {
  color: #090131;
}

header p {
  font-size: 15px;
  margin-left: 20px;
  color: #090131;
  padding-top: 20px;
}

#mappos2 {
  display: none;
}

@media(max-width: 450px) {

    #dev {
      margin-top: 80px;
    }

    #row-footer {
      margin-top: 600px;
    }

    #sun {
       display: none;
    }

    #title1 {
      font-size: 40px;
    }

    .value-pro {
      display: none;
    }

    #demo {
      width: 95%;
      height: auto;
    }
     #ig1 {
      width: 95% !important;
      height: auto;
}
      #ig2 {
      width: 95% !important;
      height: auto;
}
     #ig3 {
      width: 95% !important;
      height: auto;
}
    .row-part1 h1{
      text-align: center;
}

    .row-part1 p{
      text-align: center;
}
    .test2 {
      display: none;
    }

    .test3 {
      display: none;
    }

    .test6 {
      display: none;
    }

    #mappos {
      display: none;
    }

    #mappos2 {
      display: block;
    }

    header p {
      text-align: center;
    }

    .choice {
      display: table;
   margin: 0 auto;
    }
}

.faq {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #F7FBFF;
  width: 1100px;
  height: 600px;
}

.faq p {
  color: #777581;
}

.choice {
  padding-top: 20px;
  margin-top: 20px;
  color: white;
  padding: 10px;
  background-color: #4175FE;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.choice:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}


.props {
  margin-top: -300px;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 60px;
}

.value-pro {
  text-align: center;
  width: 250px;
  margin: 50px;
}

.value-pro p {
  margin-top: 20px;
  color: #777581;
}

.mb-0:hover {
    cursor: pointer;
}


.end {
  height: 300px;
  background-color: #090131;
  color: white;
  text-align: center;
  margin-top: -300px;


}

h6 {
  color: #090131;
}

.mb-0 {
  padding-bottom: 10px;
}

.collapse-title {
  padding-top: 50px;
  padding-bottom: 50px;

}


.collapse-title p {
  color: #090131;
}

.collapse-title h2 {
  color: #090131;
}



.card-body {
  padding-top: 10px;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
 }

.card-body p {
  color: #777581;
}

.test1 {
  position: absolute;
  margin-top: 220px;
  margin-left: 130px;
}

.test2 {
  position: absolute;
  margin-top: 252px;
  margin-left: -80px;
}

.test3 {
  position: absolute;
  margin-top: 242px;
  margin-left: 380px;
}


.test4 {
  position: absolute;
  margin-top: 390px;
  margin-left: 150px;
}


.test5 {
  position: absolute;
  margin-top: 350px;
  margin-left: 20px;
}


.test6 {
  position: absolute;
  margin-top: 310px;
  margin-left: 250px;
}

.mappi {
  display: flex;
  justify-content: center;
}


#part1 {
  display: flex;
  align-items: center;
}

#section2 {
  background-color: #F7FBFF;
  margin-top:-150px;
  padding-top: 160px;
  padding-bottom: 60px;

}

h1 {
  color: #090131;
  font-weight: 800;
  line-height: 60px;
}

h2 {
  font-weight: 800;
}

.texti {
  text-align: center;
  margin-top: 40px;
}

.texti p {
  color: #777581;
}

.row-part1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.row-part1 p{
  color: #777581;
  font-size: 15px;
  padding-bottom: 15px;
}

.inactive {
  display: none;
}

.active {
  display: block !important;
}


</style>

<script>

  function myFunction1() {
  var a = document.getElementById("first-img");
  var b = document.getElementById("second-img");
  var c = document.getElementById("third-img");

  a.classList.remove("inactive");
  a.classList.add("active");
  b.classList.remove("active");
  b.classList.add("inactive");
  c.classList.remove("active");
  c.classList.add("inactive");

}

function myFunction2() {
  var a = document.getElementById("first-img");
  var b = document.getElementById("second-img");
  var c = document.getElementById("third-img");

  a.classList.remove("active");
  a.classList.add("inactive");
  b.classList.remove("inactive");
  b.classList.add("active");
  c.classList.remove("active");
  c.classList.add("inactive");

}

function myFunction3() {
  var a = document.getElementById("first-img");
  var b = document.getElementById("second-img");
  var c = document.getElementById("third-img");

  a.classList.remove("active");
  a.classList.add("inactive");
  b.classList.remove("active");
  b.classList.add("inactive");
  c.classList.remove("inactive");
  c.classList.add("active");
}


  window.sr = ScrollReveal();
  sr.reveal('.test1', { delay: 450 });
  sr.reveal('.test2', { delay: 900 });
  sr.reveal('.test3', { delay: 1350 });
  sr.reveal('.test4', { delay: 1800 });
  sr.reveal('.test5', { delay: 2450 });
  sr.reveal('.test6', { delay: 2900 });

</script>
