
<body>
    <section>
    <div class="container">
        <header>
          <div>
            <%= link_to root_path do %>
              <%= cl_image_tag("Group_31_2_ox46o2", width: 133, height: 31, style: "margin-top: 15px")%>
            <% end %>
          </div>
          <div class="sub-tab" id="sub1">

          </div>
          <div class="sub-tab" id="sub2">
            <p><b>Our story</b></p>
            <p style="margin-right: 20px"><%= link_to 'Sign in', new_user_session_path %></p>
          </div>
        </header>


      <div class="row-part1" style="margin-top: 50px; margin-bottom: 300px">
        <div class="texti">
          <h1 id="title1">Remote is eating <br> the world.</h1>
          <p style="margin-top: 20px">We are on a mission to help every company build distributed teams by themselves, all over the world.</p>
        </div>
      </div>
    </div>
  </section>
 <%= cl_image_tag("Group_35_2_1_saozhl", width: 160, height: 92, id: "sun", style: "margin-left: 46%; margin-top: -365px") %>
<section id="section2">
      <div class="row" id="part2">
        <div class="col-sm-12 col-lg-7" id="reducing">
          <%= link_to "https://medium.com/@eliottmogenet/remote-is-eating-the-world-launching-magellan-410728ea57bc", target: :blank do %>
           <%= cl_image_tag("photo_d7op09", width: 600, id: "pho") %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-5" id="texto">
          <h2>Remote is eating the world - launching Magellan</h2>
          <br>
          <p>In 2011, Marc Andressen declared  “software is eating the world”. Ten years later, software companies have dominated every industry and transformed  how we work and live.</p>
          <p>While the software revolution reshaped our world in ten years, remote work took only one.</p>
          <a href="https://medium.com/@eliottmogenet/remote-is-eating-the-world-launching-magellan-410728ea57bc" target="blank">Read more on Medium <i class="fab fa-medium"></i></a>
        </div>
    </div>
  </section>
  <section class="foot">
    <p>@Magellan 2021</p>
  </section>

</body>



<style>

span {
  color: #4175FE;
}

.foot {
  background-color: #090131;
  height: 100px;
  text-align: center;
  padding-top: 30px;
}

#pho {
  margin-left: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#medium-widget {
  width: 600px;
  margin-left: 100px;
}

.sub-tab {
  display: flex;
  justify-content: center;
}

#sub1 p{
  color: grey;
}

#title1 {
  font-size: 60px;
}

#choice1 {
  margin-top: 12px;
  font-size: 15px;
}

#row-center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

body {
  background-color: white;
  height: 100%;
}

p {
  font-size: 14px;
}

h5 {
   color: #090131;
  font-weight: 700;
}

h2 {
  color: #090131;
}

header p {
  font-size: 15px;
  margin-left: 20px;
  color: #090131;
  padding-top: 20px;
}

#mappos2 {
  display: none;
}

#part2 {
  height: 400px;
}

@media(max-width: 450px) {

    #texto {
      margin-left: 5%;
    }

    #part2 {
      display: flex;
      justify-content: center;
    }


    #pho {
      width: 350px;
      height: auto;
      margin-left: 5%;
    }

    #sun {
      display: none;
    }

    .value-pro {
      display: none;
    }

    #imgg {
      width: 95%;
      height: auto;
    }
     #ig1 {
      width: 95% !important;
      height: auto;
}
      #ig2 {
      width: 95% !important;
      height: auto;
}
     #ig3 {
      width: 95% !important;
      height: auto;
}
    .row-part1 h1{
      text-align: center;
}

    .row-part1 p{
      text-align: center;
}
    .test2 {
      display: none;
    }

    .test3 {
      display: none;
    }

    .test6 {
      display: none;
    }

    #mappos {
      display: none;
    }

    #mappos2 {
      display: block;
    }

    header p {
      text-align: center;
    }

    .choice {
      display: table;
   margin: 0 auto;
    }
}

.faq {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #F7FBFF;
  width: 1100px;
  height: 600px;
}

.faq p {
  color: #777581;
}

.choice {
  padding-top: 20px;
  margin-top: 20px;
  color: white;
  padding: 10px;
  background-color: #4175FE;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.choice:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}


.props {
  margin-top: -300px;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 60px;
}

.value-pro {
  text-align: center;
  width: 250px;
  margin: 50px;
}

.value-pro p {
  margin-top: 20px;
  color: #777581;
}

.mb-0:hover {
    cursor: pointer;
}


.end {
  height: 300px;
  background-color: #090131;
  color: white;
  text-align: center;
  margin-top: -300px;


}

h6 {
  color: #090131;
}

.mb-0 {
  padding-bottom: 10px;
}

.collapse-title {
  padding-top: 50px;
  padding-bottom: 50px;

}


.collapse-title p {
  color: #090131;
}

.collapse-title h2 {
  color: #090131;
}



.card-body {
  padding-top: 10px;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
 }

.card-body p {
  color: #777581;
}

.test1 {
  position: absolute;
  margin-top: 170px;
  margin-left: 100px;
}

.test2 {
  position: absolute;
  margin-top: 252px;
  margin-left: -290px;
}

.test3 {
  position: absolute;
  margin-top: 242px;
  margin-left: 390px;
}


.test4 {
  position: absolute;
  margin-top: 450px;
  margin-left: 90px;
}


.test5 {
  position: absolute;
  margin-top: 400px;
  margin-left: -100px;
}


.test6 {
  position: absolute;
  margin-top: 330px;
  margin-left: 235px;
}

.mappi {
  display: flex;
  justify-content: center;
}


#part1 {
  display: flex;
  align-items: center;
}

#part2 {
  display: flex;
  justify-content: center;
  color: #777581;
  margin-right: 100px;

}

#section2 {
  background-color: #F7FBFF;
  margin-top:-150px;
  padding-top: 50px;
  padding-bottom: 60px;

}

h1 {
  color: #090131;
  font-weight: 800;
  line-height: 60px;
}

h2 {
  font-weight: 800;
}

.texti {
  text-align: center;
  margin-top: 40px;
}

.texti p {
  color: #777581;
}

.row-part1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.row-part1 p{
  color: #777581;
  font-size: 15px;
  padding-bottom: 15px;
}

.inactive {
  display: none;
}

.active {
  display: block !important;
}

</style>
