
<body>

<div class="login">
  <h2 style="text-align: center">Login to Magellan</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in ðŸŒ", class: "choice" %>
    <%= render "devise/shared/links", class: "center" %>

  </div>
<% end %>





</div>



</body>




<style>

.intput p {
  color: black;
}

.center {
  text-align: center;
}

 .form-actions {
  text-align: center;
 }


.choice {
  color: white;
  padding: 10px;
  background-color: #4175FE;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  margin-bottom: 20px;
}

.choice:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

  .login {
    width: 500px;

  }

  body {
    background-color: #090131;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }






</style>


