


        <div class="navbar navbar-expand-sm" style="head">
          <div class="account1" style="margin-top: 26px; margin-left: 8px;">
            <div class="logo">
              <%= cl_image_tag("Rectangle_4_1_ch4agy", width: 47, height: 45) %>
            </div>
            <div class="account" style="margin-left: 7px;">
              <p style="font-size: 14px; color: white; line-height: 1px; margin-top: 10px" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><%= @customer.name %></p>
              <p style="font-size: 10px; color: white; line-height: 0px"><%= current_user.first_name + " " + current_user.last_name %></p>
                <ul class="navbar-nav mr-auto">
                  <% if user_signed_in? %>
                    <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                      <%= link_to "Send feedback 💌", "#", class: "dropdown-item" %>
                        <%= link_to "Change password 🔒", , class: "dropdown-item" %>
                        <%= link_to "Log out 🚪", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    </div>
                    </li>
                    <% else %>
                    <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                    </li>
                    <% end %>
                  </ul>

            </div>
              </div>
          </div>
              <div style="margin-top: 35px;">
        <div class="candidate_nav" style="margin-left: 10px;">
        <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white" id="pills-contact-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-home" aria-selected="true">Opened </a>
        </li>
      </ul>
    </div>
    <%= cl_image_tag("Line_1_nwlm9y",
          width: 200, height: 1, style: 'margin-left: 20px;') %>
        <% @customer.reqs.each do |req| %>

      <% if req.users.where(:matchings => {:status => nil }).any? %>
        <%= link_to req_user_path(req, req.users.where(:matchings => {:status => nil }).first) do %>
            <div class="req_box1 <%= ' blanc' if req == @req %>">
              <p><i class="fas fa-user fa-fw"></i><%= req.title %></p>
            </div>
        <% end %>

      <% else %>

        <%= link_to req_users_path(req) do %>
            <div class="req_box1 <%= ' blanc' if req == @req %>">
              <p><i class="fas fa-user fa-fw"></i><%= req.title %></p>
            </div>
        <% end %>

        <% end %>

        <% end %>
      </div>

<style>

.dropdown-menu {
  border-radius: 5px;
  border-style: 1px;
}


.dropdown-item {
  font-size: 10px;
}

.account1 {
  display: flex;
  justify-content: flex-start;
}

.req_box1:hover {
  text-decoration: none !important;
  color: white !important;
  margin-left: 20px;
  background-color: #282341;
  width: 201px;
  height: 38px;
  border-radius: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 38px;
}

a:hover {
  text-decoration: none !important;
}

.blanc {
  text-decoration: none !important;
  color: white !important;
  margin-left: 20px;
  background-color: #282341;
  width: 201px;
  height: 38px;
  border-radius: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 38px;
}


.alert {
  text-align: center;
  margin-right: 450px;
  margin-bottom: 700px;
}

.alert p {
  font-size: 10px;
}

.mod-footer {
  margin-top: 10px;
  text-align: center;
}


.mod-title {
  text-align: center;
}

textarea {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 10px;
  width: 98%;
  height: 150px;
  background-color: #F0F0F1;
}

#text2 {
  border: none;
  outline: none;
  font-size: 10px;
  width: 98%;
  height: 60px;
  background-color: #F0F0F1;
}

.modal-content {
  border-radius: 10px;
}

.modal-content {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;

}

.modal p {
  font-size: 10px;
}

p {
  color: #090131;
}

h5 {
  color: #090131;
}


.job-desc {
  margin-left: 10px;
  line-height: 5px;
}

.former-job {
  display: flex;
  justify-content: flex-start !important;
}


.staks {
  display: flex;
  justify-content: flex-start;
}

.stack {
  margin-top: 5px;
  margin-left: 6px;
  background-color: #090131;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  p {
    font-size: 10px;
    color: white;
  }
}

small {
  color: #777581;
  font-size: 8px;
  margin-left: 0px !important;
}


.team-overlap {
  display: flex;
  justify-content: flex-start;
}

.loca {
  margin-left: 15px;
}

.tab-pane p {
  font-size: 10px
}

.tab-pane {
  padding-right: 20px;
  padding-left: 10px;
}

#pills-location p {
  line-height: 9px;
}


.profile-nav {
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 0px ;
  padding-left: 10px;
}

#pills-contact-tab {
  margin-right: 0px;
}

.choices {
  padding-left: 25px;
}

.choice {
  color: white;
  padding: 10px;
  background-color: #4175FE;
  border-radius: 5px;
  font-size: 10px;
  margin-right: 10px;
}

.choice:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

#dis {
  background-color: #F0F0F1;
  color: #090131;
}

#dis:hover{
  background-color: blue;
  color: white;
  text-decoration: none;
}

.info-pro p {
  font-size: 12px;
  margin-bottom: 9px !important;
  color: #777581;
}

#loc {
  color: #090131;
}

.info-pro h5 {
  font-size: 20px;
  color: #090131;
}

.id-info {
  margin-left: 10px;
}

.show {
  display: block i !important;
}

</style>

<script>
  const starting = document.getElementById("starting");
const alert1 = document.getElementById("alert-success");
  starting.addEventListener("click", (event) => {
    alert1.classList.toggle("show");
  });

</script>
